@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');


@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



h1 {
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;
    
  }

h2 {
    font-weight: 700;
    font-size: 10px;
}


p {
    font-weight: 20px;
}

.container {
    .main-container {
        background-color: rgba(169, 233, 183, 0.634);
        background-image: url("");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        background-blend-mode: color;
      }

    }


.container {
    width: 100%;
  }
.container .carousel .slide img {
    max-height: 80vh;
    width: auto; /*100vw*/
  }



.carousel img {
    height: 300px;
    align-content: center;
    object-fit: cover;
}
.quote-container p {
    font-size: clamp(23px, 4vw, 26px );
    font-weight: 700;
}

.quote-container q {
    font-size: 105%;
}


.quote-style{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-img-top {
    /* margin: 10px;
    padding: 10px; */
    width: 100%;
    height: 200px;
}

.church-info {
    text-align: center;
}

button:hover {
    transform: scale(1.05);
    opacity: 1;
  }

.footer {
    display: flex;
    justify-content: "center";
    text-align: center;
    padding: 20px;
    background-color: #0907075c;
}

.space-bottom {
    margin-bottom: 20px;
}

.space-right {
    margin-right: 10px;
}

.carousel {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    /* -webkit-text-stroke: 1px black; */
}